<a href="https://colab.research.google.com/github/kunal24bit/Data-Pre-processing/blob/main/Handling_imbalance_dataset_Over_sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Imbalance dataset?**

A dataset is imbalanced if the classes are not approx equally presented.

1. Class with more cases(**Majority Class**)
2. Class with less cases(**Minority Class**)

**Domain With class Imbalance Problem**

1. Fraud detection in financial transactions
2. Email Spam detection
3. Detection of malignant tumors in medical image scans

**What is the problem with imbalance dataset ?**

ML Algo trained on imbalance dataset give biased prediction and misleading accuracy.

**Methods to handle imbalance dataset**

1. Over Sampling
2. Under Sampling

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("creditcard.csv")

In [ ]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
pd.value_counts(df["Class"])

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
X = df.drop(["Class"],axis=1)

In [ ]:
X.head()

   Time        V1        V2        V3  ...       V26       V27       V28  Amount
0   0.0 -1.359807 -0.072781  2.536347  ... -0.189115  0.133558 -0.021053  149.62
1   0.0  1.191857  0.266151  0.166480  ...  0.125895 -0.008983  0.014724    2.69
2   1.0 -1.358354 -1.340163  1.773209  ... -0.139097 -0.055353 -0.059752  378.66
3   1.0 -0.966272 -0.185226  1.792993  ... -0.221929  0.062723  0.061458  123.50
4   2.0 -1.158233  0.877737  1.548718  ...  0.502292  0.219422  0.215153   69.99

[5 rows x 30 columns]

In [ ]:
Y = df["Class"]

In [ ]:
Y.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
print(X.shape, Y.shape)

(284807, 30) (284807,)

**Exploratory data Analysis**

In [ ]:
df.isnull().values.any()

False

In [ ]:
count_values = pd.value_counts(Y)

In [ ]:
count_values.plot(kind = 'bar', rot =0)
plt.title("Transaction Class Distribution")
plt.xlabel("Class")
plt.ylabel("Frequency")

NameError: ignored